extends layout

include ./includes/_paginate

block content  
  main.container(role='main')

    .jumbotron.p-3.p-md-5.text-white.rounded.bg-warning
      .row
        .col-md-6
          h1.display-4.font-italic Zero-Mo
          p.lead.my-3 공모전의 대가! 공모전의 바이브!
          p.lead.mb-0
            a.text-white.font-weight-bold(href='#') 자세히 보기...
        .col-md-6
          img(src='images/favicon.png', style='width: 350px; height: 350px;')
    .row
      aside.col-md-3.sidebar

        .p-3.mb-3.bg-light.rounded
          h4
            b 분야별
          ol.list-unstyled
            li
              a(href='./contests') 전체
            li
              a(href= "/contests?termCategory=기획/아이디어") 기획/아이디어
            li
              a(href="/contests?termCategory=광고/마케팅") 광고/마케팅
            li
              a(href="/contests?termCategory=웹/모바일") 웹/모바일
            li
              a(href="/contests?termCategory=봉사활동") 봉사활동
            li
              a(href="/contests?termCategory=취업/창업") 취업/창업
            li
              a(href="/contests?termCategory=기타") 기타
          h4
            b 공모대상자
          ol.list-unstyled.mb-0
            li
              a(href="/contests?termTarget=전체") 전체
            li
              a(href="/contests?termTarget=대학생") 대학생
            li
              a(href="/contests?termTarget=대학원생") 대학원생
            li
              a(href="/contests?termTarget=청소년") 청소년
            li
              a(href="/contests?termTarget=어린이") 어린이
          h4
            b 주최사
          ol.list-unstyled.mb-0
            li
              a(href="/contests?termCompCat=공기업") 공기업
            li
              a(href="/contests?termCompCat=대기업") 대기업
            li
              a(href="/contests?termCompCat=중소/벤처기업") 중소/벤처기업
            li
              a(href="/contests?termCompCat=비영리") 비영리
            li
              a(href="/contests?termCompCat=해외") 해외
            li
              a(href="/contests?termCompCat=기타") 기타

      .col-md-9
        .card.flex-md-row.mb-4.shadow-sm.h-md-250
          .card-body.d-flex.flex-column.align-items-start
            strong.d-inline-block.mb-2.text-success 최신 업로드 공모전
            h3.mb-0
              a.text-dark(href=`/contests/${contests.docs[0].id}`) #{contests.docs[0].title}
            .mb-1.text-muted 접수기간: #{moment(contests.docs[0].start).format('YY-MM-DD')} ~ #{moment(contests.docs[0].end).format('YY-MM-DD')}
            p.card-text.mb-auto 
            b 분야/응모대상/주최/상금
            |
            p.card-text.mb-auto #{contests.docs[0].category}/#{contests.docs[0].target}/#{contests.docs[0].company}/#{contests.docs[0].prize}
        .main
          h3.pb-3.mb-4.font-italic.border-bottom Today's Contest List
          if contests.total > 0
            .table-area
              include ./contests/_table
          .pagination
            +paginate(contests, '/', query)
