extends ../layout

block content
  .container
    h1.main-title 
      | 관리자 모드 - 공모전 관리
    if contests.total > 0
      h4 총 #{favorites.total} 개의 공모전이 있습니다.
    p
      br
    if contests.total <= 0 
      .alert.alert-info 현재 게시된 공모전이 없습니다.
    else
      .contests
    table.table.table-striped
        thead
        tr.bg-warning
            th(scope='col') 공모전 명
            th(scope='col') 주최사
            th(scope='col') 주최사 종류
            th(scope='col') 대상
            th(scope='col') 시작날짜
            th(scope='col') 종료날짜
            th(scope='col') 추천
            th(scope='col') 조회수
            th(scope='col') 게시여부
            th(scope='col') 신고횟수
            th(scope='col') 편집하기
            th(scope='col') 공모전 삭제

        tbody
        each contest in contests
            tr
            .contest
                td
                  a(href=`/contests/${contest.id}`)= contest.title
                td #{contest.company}
                td  #{contest.company_category}
                td  #{contest.target}
                td  #{moment(contest.start).format('MM-DD')}
                td  #{moment(contest.end).format('MM-DD')}
                td  #[span.number.num-votes= contest.numLikes]
                td  #[span.number.num-votes= contest.numView]
                td  #{contest.commision}
                td  #{contest.report}
                td 
                    a.btn.btn-outline-secondary(href=`/contests/${contest.id}/edit`) 편집
                td 
                    a.btn.btn-outline-danger.delete-btn(href=`/contests/${contest.id}?_method=delete`) 삭제하기

  //- script.
  //-   $(function() {
  //-     $('.delete-btn').click(function() {
  //-       if (confirm('정말로 삭제하시겠습니까?')) {
  //-         location = $(this).data('url');
  //-       }
  //-       return false;
  //-     });
  //-   });