extends ../layout

block content
  .container
    h1.main-title 
      | 즐겨찾기
    if favorites.total > 0
      h4 총 #{favorites.total} 개의 공모전이 있습니다.
    p
      br
    if favorites.total <= 0 
      .alert.alert-info 현재 게시된 공모전이 없습니다.
    else
      .contests
    table.table.table-striped
        thead
        tr.bg-warning
            th(scope='col') 공모전 명
            th(scope='col') 주최사
            th(scope='col') 주최사 종류
            th(scope='col') 대상
            th(scope='col') 시작날짜
            th(scope='col') 종료날짜
            th(scope='col') 추천
            th(scope='col') 조회수
            th(scope='col') 즐겨찾기 삭제

        tbody
        each favorite in favorites
            tr
            .favorite
                td
                  a(href=`/contests/${favorite.contest.id}`)= favorite.contest.title
                td #{favorite.contest.company}
                td  #{favorite.contest.company_category}
                td  #{favorite.contest.target}
                td  #{moment(favorite.contest.start).format('MM-DD')}
                td  #{moment(favorite.contest.end).format('MM-DD')}
                td  #[span.number.num-votes= favorite.contest.numLikes]
                td  #[span.number.num-votes= favorite.contest.numView]
                td 
                    a.btn.btn-outline-danger.delete-btn(href=`/favorites/${favorite.id}?_method=delete`) 삭제하기

  //- script.
  //-   $(function() {
  //-     $('.delete-btn').click(function() {
  //-       if (confirm('정말로 삭제하시겠습니까?')) {
  //-         location = $(this).data('url');
  //-       }
  //-       return false;
  //-     });
  //-   });