extends ../layout

block content
  .container
    h1.main-title= user.name
          
    dl.row
      dt.col-sm-3 ID 이름
      dd.col-sm-9 
        main-title= user.idname

      dt.col-sm-3 회원등급
      if (user.isAdmin == true)
        dd.col-sm-9 관리자
      else
        dd.col-sm-9  일반

      dt.col-sm-3 Created At
      dd.col-sm-9= user.createdAt

    hr
    p
      a.btn.btn-outline-secondary(href='/users/') List
      | 
      a.btn.btn-outline-primary(href=`/users/${user._id}/edit`) Edit
      | 
      a.btn.btn-outline-danger(href=`/users/${user._id}?_method=DELETE`) Delete
